<!-- <div style="opacity:0.5;position:absolute;left:50px;width:300px;height:150px;background-color:#40B3DF"></div> -->
<div style="font-family:verdana;padding:20px;border-radius:10px;border:10px solid #EE872A;">

<h1>Welcome to </h1>
<h2 style="background-color:red; color:white; text-align:center">
	The Salon Calendar Manager</h2>

<h4>This is a Project for small salons & schools to manage their Appointments.</h4>
<p>
	The principal players in this System are:
		<ul>
			<li>The Site - Where is this being done?</li>
			<li>Who is the Scheduler?</li>
			<li>Appointment with which Stylist?</li>
				<ul>
					<li>Units: Hours? </li>
					<li>Best label? Colorist?</li>
					<li>Approved treatments?</li>
				</ul>
			<li>Who is the customer?</li>
				<ul>
					<li>Name</li>
					<li>Preferences</li>
					<li>Past treatments</li>
					<li>Formulas</li>
					<li>Bonus Points</li>
				</ul><br>
			<li>How did this treatment go?</li>
		</ul>
</p>
<%= button_to "Stylists", stylists_path, :method => :get %>